.contacts {
    color: var(--color-font);
}

.contacts-container {
    background-image: linear-gradient(rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)),
        url(../img/background-contact-screen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacts__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 17px;
    padding-left: 423px;
    padding-right: 448px;
}

.contacts__text {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 50px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-bottom: 50px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    width: 423px;
    height: 44px;
    font-size: 22px;
    line-height: 26px;
    padding-left: 25px;
    color: white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    line-height: 26px;
}

.contacts__button {
    background: var(--main-color);
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-radius: 50px;
    padding: 11px 38px;
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
    margin-bottom: 50px;
}

.contacts__agreement {
    font-size: 20px;
    line-height: 28px;
}

.contacts__agreement-word {
    color: #4A76A8;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
}

@media (max-width: 1280px) {
    .contacts__title {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1024px) {

    .contacts-container {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 50px;

    }

    .contacts__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 16px;
    }

    .contacts__text {
        font-size: 20px;
        line-height: 23px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        width: 377px;
        height: 39px;
        font-size: 20px;
        line-height: 23px;
        padding-left: 23px;
    }

    ::placeholder {
        font-size: 20px;
        line-height: 23px;
    }

    .contacts__agreement {
        font-size: 17px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .contacts-container {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        width: 250px;
        height: 35px;
        font-size: 19px;
        line-height: 22px;
        padding-left: 22px;
    }

    ::placeholder {
        font-size: 19px;
        line-height: 22px;
    }
}

@media (max-width: 320px) {

    .contacts-container {
        padding: 30px 15px;
    }

    .contacts__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .contacts__text {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 35px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        width: 290px;
        height: 28px;
        font-size: 14px;
        line-height: 16px;
        padding-left: 18px;
    }

    ::placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    .contacts__button {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        border: none;
        border-radius: 50px;
        padding: 10px 26px;
        box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
        margin-bottom: 40px;
    }

    .contacts__agreement {
        font-size: 11px;
        line-height: 13px;
    }
}